@model IEnumerable<Record>
@{
    ViewData["Title"] = "Records";
}

<div class="content">
    <div class="row">
        @foreach(Record r in Model)
        {
            <div class="cell col-12 col-md-3">
                @if(r.ImageData != null)
                {
                    <img class="card-img-top image" src="@Url.Action("GetImage", "Records", new { id = r.RecordId })" />
                }
                else
                {
                    <img class="card-img-top image" src="~/img/placeholder.jpg" />
                }
                <h6>@r.Title</h6>
                <p>@r.Artist.Name</p>
                <div class="cell-btns">
                    <a class="more-record-info" asp-controller="Records" asp-action="Record" asp-route-id="@r.RecordId">More info</a>
                    <button class="fast-buy"><i class="fas fa-shopping-cart"></i>@r.Price$</button>
                </div>
            </div>
        }
    </div>
</div>