@model Record
@{
    ViewData["Title"] = "Record";
}
<div class="content">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-12 col-sm-6">
            @if(Model.ImageData != null)
            {
                <img class="image" src="@Url.Action("GetImage", "Records", new { id = Model.RecordId })" />
            }
            else
            {
                <img class="image" src="~/img/placeholder.jpg" />
            }
        </div>
        <div class="col-12 col-sm-6">
            <h4>Artist: <a asp-controller="Artists" asp-action="Artist" asp-route-id="@Model.ArtistId">@Model.Artist.Name</a></h4>
            <h4>Country: @Model.Artist.CountryName</h4>
            <h4>Amount: @Model.Amount</h4>
            <h4>Type: @Model.Type</h4>
            <h4>Price: @Model.Price$</h4>
            <br />
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add to cart</button>
        </div>
    </div>
    <br />
    <div class="blog-description">
        <p>@Model.Description</p>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Cart" asp-action="Add" enctype="application/x-www-form-urlencoded">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">How much do you want to put in the shopping cart?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <input type="hidden" name="id" value="@Model.RecordId" />
                    <input type="number" name="count" value="1" id="items-count" class="btn btn-secondary" /> items.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" id="add-btn"/>
                </div>
            </form>
        </div>
    </div>
</div>

@*@section scripts{ 
    <script>
        $(document).ready(SetAddBtn(@Model.RecordId))
    </script>
}*@