@model Record
@{
    ViewData["Title"] = "Record";
}
<div class="record">
    <h2>@Model.Title</h2>
    <div class="row">
        <div class="col-12 col-sm-auto">
            @if(Model.ImageData != null)
            {
                <img class="img-thumbnail" style="height:13rem" src="@Url.Action("GetImage", "Records", new { id = Model.RecordId })" />
            }
            else
            {
                <img class="img-thumbnail" style="height:13rem" src="~/img/placeholder.jpg" />
            }
        </div>
        <div class="col-12 col-sm-auto">
            <h4>Artist: <a href="#">@Model.Artist.Name</a></h4>
            <h4>Country: @Model.Artist.CountryName</h4>
            <h4>Amount: @Model.Amount</h4>
            <h4>Type: @Model.Type</h4>
            <br />
            <a class="btn btn-primary" href="#">Buy</a>
        </div>
    </div>
    <br />
    <div class="blog-description">
        <p>@Model.Description</p>
    </div>
</div>
