@model Artist
@{
    ViewData["Title"] = "Artist";
}
<div class="content mb-2">
    <h2>@Model.Name</h2>
    <div class="row">
        <div class="col-12 col-sm-6">
            @if(Model.ImageData != null)
            {
                <img class="image" src="@Url.Action("GetImage", "Artists", new { id = Model.ArtistId })" />
            }
            else
            {
                <img class="image" src="~/img/placeholder.jpg" />
            }
        </div>
        <div class="col-12 col-sm-6">
            <h4>Country: @Model.CountryName</h4>
        </div>
    </div>
    <br />
    <div class="blog-description">
        <p>@Model.Description</p>
    </div>
    <h4>Records:</h4>
    <div class="row">
        @foreach(Record r in Model.Records)
        {
            <div class="cell col-12 col-md-3">
                @if(r.ImageData != null)
                {
                    <img class="image" src="@Url.Action("GetImage", "Records", new { id = r.RecordId })" />
                }
                else
                {
                    <img class="image" src="~/img/placeholder.jpg" />
                }
                <h6>@r.Title</h6>
                <p>@r.Artist.Name</p>
                <div class="cell-btns">
                    <a class="more-record-info" asp-controller="Records" asp-action="Record" asp-route-id="@r.RecordId">More info</a>
                    <button class="fast-buy"><i class="fas fa-shopping-cart"></i>@r.Price$</button>
                </div>
            </div>
        }
    </div>
</div>