@model AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <h2>Countries</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var country in Model.Countries)
            {
            <tr>
                <td>@country.CountryName</td>
                <td>
                    <button country-name="@country.CountryName" class="btn btn-danger delete-country">
                        Delete
                    </button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="2">
                    <a class="btn btn-primary"
                            asp-controller="Admin"
                            asp-action="NewCountry">
                        New
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Artists</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var artist in Model.Artists)
            {
            <tr id="@artist.ArtistId" countryName="@artist.CountryName" class="artist-row">
                <td>@artist.Name</td>
                <td>@artist.CountryName</td>
                <td>
                    <a class="btn btn-info"
                            asp-controller="Admin"
                            asp-action="EditArtist"
                            asp-route-artistId="@artist.ArtistId">
                        Edit
                    </a>
                </td>
                <td>
                    <button artist-id="@artist.ArtistId" class="btn btn-danger delete-artist">
                        Delete
                    </button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="4">
                    <a class="btn btn-primary"
                            asp-controller="Admin"
                            asp-action="NewArtist">
                        New
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Records</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Amount</th>
                <th>Type</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var record in Model.Records)
            {
            <tr id="@record.RecordId" artistId="@record.ArtistId" class="record-row">
                <td>@record.Title</td>
                <td>@record.Artist.Name</td>
                <td>@record.Amount</td>
                <td>@record.Type</td>
                <td>
                    <a class="btn btn-info"
                            asp-controller="Admin"
                            asp-action="EditRecord"
                            asp-route-recordId="@record.RecordId">
                        Edit
                    </a>
                </td>
                <td>
                    <button record-id="@record.RecordId" class="btn btn-danger delete-record">
                        Delete
                    </button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="7">
                    <a class="btn btn-primary"
                            asp-controller="Admin"
                            asp-action="NewRecord">
                        New
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{ 
    <script>
        $(document).ready(SetDeleteButtons())
    </script>
}
